/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

.legend {
  color: #555;
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
}
.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}
.legend .min {
  float: left;
  padding-bottom: 5px;
}
.legend .max {
  float: right;
}

.legend h1{
  text-align: center;
  font-size: 15pt;
  padding: 2px;
  margin: 2px;
}

.leaflet-popup-content{
  text-align: center;
  margin: 8px;
}
.leaflet-bottom.leaflet-left{
  width: 100%;
}
.leaflet-bottom.leaflet-right .legend{
  margin-bottom: 90px;
}
.leaflet-control-container .leaflet-timeline-controls{
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
}
